# Astro build/cache artifacts.
dist/
.astro/

# Dependency directories.
node_modules/

# Logs.
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables.
.env
.env.production

# OS-specific files.
.DS_Store
Thumbs.db

# JetBrains setting folder.
.idea/