# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Sass related
**/resources/*

# Hugo related
**/content/*
themes/theme-sample/*

# Obsidian related
**/obsidian/*