{{- $copyrightYear := time.Now.Format "2006" -}}
{{- $authorName := .Site.Title -}}

{{- if .Site.Params.copyright.year -}}
  {{- $copyrightYear = .Site.Params.copyright.year -}}
{{- end -}}

{{- if .Site.Params.author.name -}}
  {{- $authorName = .Site.Params.author.name -}}
{{- end -}}

<div class="container">
  <div class="copyright">© {{ $copyrightYear }} {{ $authorName }}.</div>
  <span class="license">&nbsp;Content licensed <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC 4.0</a></span>
</div>