<div id="header">
  <div class="header-container">
    <div class="header-site-title"><a href="/">{{ site.Title }}</a></div>
    <div class="header-spacer"></div>
    <div class="header-nav">
      {{- partial "menu.html" (dict "menuID" "main" "page" .) -}}
    </div>
    <div class="theme-slider-container">
      <label class="theme-slider">
        <input type="checkbox" id="dark-mode-button" onClick="toggleDarkMode()" />
        <div class="round slider"></div>
      </label>
    </div>
  </div>
</div>