@use '../abstracts/variables' as variables;

:root.theme-dark {
  color-scheme: dark;

  // Base Colors
  // ========================================================================

  --color-base-000: #ffffff;
  --color-base-100: #e6e6e6;
  --color-base-200: #cacaca;
  --color-base-300: #adadad;
  --color-base-400: #919191;
  --color-base-500: #747474;
  --color-base-600: #5e5e5e;
  --color-base-700: #474747;
  --color-base-800: #303030;
  --color-base-900: #191919;
  --color-base-999: #000000;

  // Colors
  // ========================================================================

  // Text

  --text-bold-color: #f8b755;

  // Link
	--link-normal-color: #5094c9;
	--link-hover-color: #7db0e0;

  // Scroll Bar
  --scrollbar-rgb: 255, 255, 255;

  // Elements
  // ========================================================================

  // Code
  --code-bg-color: #24292e;
  --inline-code-text-color: #da615c;

  // Table
  --table-header-bg: #{variables.$table-header-background-dark};

  // Icons

  --icon-header-link: #{variables.$icon-hash-dark};
  --icon-external-link: #{variables.$icon-external-link-dark};
  --icon-copy: #{variables.$icon-copy-dark};
  --icon-copied: #{variables.$icon-tick};
}