@use '../abstracts/variables' as variables;

:root {
  color-scheme: light;

  // --- Base Colors ---
  --color-base-000: #090b11;
  --color-base-100: #283044;
  --color-base-200: #3d4663;
  --color-base-300: #505d84;
  --color-base-400: #6474a2;
  --color-base-500: #8490b5;
  --color-base-600: #a3acc8;
  --color-base-700: #c3cadb;
  --color-base-800: #e3e6ee;
  --color-base-900: #f3f4f7;
  --color-base-999: #ffffff;

  --color-primary: hsla(281, 81%, 36%, 1);

  // --- Accent Colors ---
  --primary-color: #{variables.$primary-color};

  // --- Body Colors ---
  --body-bg-color: #{variables.$body-bg-color};

  // --- Header Colors ---
	--h2-accent-color: #{variables.$h2-accent-color};
	--h3-accent-color: #{variables.$h3-accent-color};
	--h4-color: #{variables.$h4-color};

  // --- Text Colors ---
  --text-color: #{variables.$text-color};
  --text-bold-color: #{variables.$text-bold-color};
  --text-copyright-color: #(variables.$text-copyright-color);

  // --- Link Colors ---
  --link-color: #{variables.$link-color};
  --link-hover-color: #{variables.$link-hover-color};

  // -- Scrollbar Colors ---
  --scrollbar-rgb: 0, 0, 0;
  --scrollbar-track-color: transparent;
  --scrollbar-thumb-color: rgba(var(--scrollbar-rgb), 0.16);
  --scrollbar-thumb-active-color: rgba(var(--scrollbar-rgb), 0.25);

  // -- Fonts ---
  --font-system: #{variables.$font-system};
  --font-brand: #{variables.$font-brand}, var(--font-system);
  --font-body: #{variables.$font-body}, var(--font-system);
  --font-mono: #{variables.$font-mono};

  // -- Table --
  --table-header-bg: #{variables.$table-header-background};

  // --- Icons ---
  --icon-header-link: #{variables.$icon-hash};
  --icon-external-link: #{variables.$icon-external-link};
  --icon-copy: #{variables.$icon-copy};
  --icon-copied: #{variables.$icon-tick};
}