@use '../abstracts/variables' as var;

:root {
  color-scheme: light;

  // Base Colors
  // ========================================================================

  --color-base-000: #090b11;
  --color-base-100: #283044;
  --color-base-200: #3d4663;
  --color-base-300: #505d84;
  --color-base-400: #6474a2;
  --color-base-500: #8490b5;
  --color-base-600: #a3acc8;
  --color-base-700: #c3cadb;
  --color-base-800: #e3e6ee;
  --color-base-900: #f3f4f7;
  --color-base-999: #ffffff;

  // Colors
  // ========================================================================

  // Accents

  --color-primary: hsla(281, 81%, 36%, 1);
  --color-primary-overlay: hsla(280, 89%, 67%, 0.33);

  // Text

  --color-text-normal: var(--color-base-200);
  --color-text-bold: var(--color-base-000);
  --text-bold-color: var(--color-base-000);

  // Body

  --color-body-bg: var(--color-base-999);

  // Headers

	--h2-accent-color: #{var.$h2-accent-color};
	--h3-accent-color: #{var.$h3-accent-color};
	--h4-color: #{var.$h4-color};

  // Link

  --color-link-normal: #1976d2;
  --color-link-hover: #64b5f6;

  --code-bg-color: var(--color-base-999);
  --inline-code-text-color: var(--color-base-200);
  --inline-code-bg-color: var(--color-base-900);

  // Scroll Bar
  --scrollbar-rgb: 0, 0, 0;
  --scrollbar-track-color: transparent;
  --scrollbar-thumb-color: rgba(var(--scrollbar-rgb), 0.16);
  --scrollbar-thumb-active-color: rgba(var(--scrollbar-rgb), 0.25);

  // Elements
  // ========================================================================

  // Table
  --table-header-bg: #{var.$table-header-background};

  // Icons
  --icon-header-link: #{var.$icon-hash};
  --icon-external-link: #{var.$icon-external-link};
  --icon-copy: #{var.$icon-copy};
  --icon-copied: #{var.$icon-tick};

  // Fonts
  // ========================================================================

  --font-system: #{var.$font-system};
  --font-body: #{var.$font-body}, var(--font-system);
  --font-brand: #{var.$font-brand}, var(--font-system);
  --font-mono: #{var.$font-mono};
}