// --- Light Theme (Default) ---
:root {
  // --- Base Colors ---
  --base-0: #090b11;
  --base-50: #141925;
  --base-100: #283044;
  --base-200: #3d4663;
  --base-300: #505d84;
  --base-400: #6474a2;
  --base-500: #8490b5;
  --base-600: #a3acc8;
  --base-700: #c3cadb;
  --base-800: #e3e6ee;
  --base-900: #f3f4f7;
  --base-999: #ffffff;

  // -- Accent Colors ---
  --accent-light: #c561f6;
  --accent-regular: #7611a6;
  --accent-medium: #49097e;
  --accent-dark: #1c0056;

  --body-bg-color: var(--base-999);

  --h2-accent-color: #d2691e;
  --h3-accent-color: #c0a70c;
  --h4-text-color: #f8b755;

  --text-normal-color: var(--base-200);
  --text-bold-color: #090b11;

  --link-color: #1976d2;
  --link-hover-color: #64b5f6;

  // --- Text Size ---
  --text-2xs: 0.75rem;
  --text-xs: 0.8rem;
  --text-sm: 0.875rem;
  --text-base: 1.025rem;
  --text-md: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.625rem;
  --text-2xl: 2.125rem;
  --text-3xl: 2.625rem;
  --text-4xl: 3.5rem;
  --text-5xl: 4.5rem;

  // --- Radius ---
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 12px;
  --radius-xl: 16px;

  // --- Fonts ---
  --font-system:
    system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvatica Neue', sans-serif;
  --font-body: 'IBM Plex Sans', var(--font-system);
  --font-brand: 'Rubik', var(--font-system);
  --font-mono: 'JetBrains Mono', monospace;

  // --- Scroll Bar ---
  --scrollbar-rgb: 0, 0, 0;
  --scrollbar-track-color: transparent;
  --scrollbar-thumb-color: rgba(var(--scrollbar-rgb), 0.16);
  --scrollbar-thumb-active-color: rgba(var(--scrollbar-rgb), 0.25);
}

// --- Dark Theme ---
:root.theme-dark {
	--base-0: #ffffff;
	--base-50: #f4f4f4;
	--base-100: #e6e6e6;
	--base-200: #cacaca;
	--base-300: #adadad;
	--base-400: #919191;
	--base-500: #747474;
	--base-600: #5e5e5e;
	--base-700: #474747;
	--base-800: #303030;
	--base-900: #191919;
	--base-999: #181c20;

  --accent-light: #1c0056;
  --accent-regular: #7611a6;
  --accent-medium: #9e39ce;
  --accent-dark: #c561f6;

  --text-bold-color: #f8b755;

  // --- Scroll Bar ---
  --scrollbar-rgb: 255, 255, 255;
}