:root {
  // --- Colors ---
	--gray-0: #090b11;
	--gray-50: #141925;
	--gray-100: #283044;
	--gray-200: #3d4663;
	--gray-300: #505d84;
	--gray-400: #6474a2;
	--gray-500: #8490b5;
	--gray-600: #a3acc8;
	--gray-700: #c3cadb;
	--gray-800: #e3e6ee;
	--gray-900: #f3f4f7;
	--gray-999-basis: 0, 0%, 100%;
	--gray-999_40: hsla(var(--gray-999-basis), 0.4);
	--gray-999: #ffffff;

	--accent-light: #c561f6;
	--accent-regular: #7611a6;
	--accent-medium: #49097e;
	--accent-dark: #1c0056;
	--accent-overlay: hsla(280, 89%, 67%, 0.33);
	--accent-subtle-overlay: var(--accent-overlay);
	--accent-text-over: var(--gray-999);

	--h2-accent-color: #d2691e;
	--h3-accent-color: #c0a70c;
	--h4-color: #f8b755;

	--text-normal: var(--gray-200);
	--text-bold-color: var(--gray-0);

	--link-color: #1976d2;
	--link-hover-color: #64b5f6;
	--link-icon: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='%233d4663' viewBox='0 0 256 256'><path d='M240,88.23a54.43,54.43,0,0,1-16,37L189.25,160a54.27,54.27,0,0,1-38.63,16h-.05A54.63,54.63,0,0,1,96,119.84a8,8,0,0,1,16,.45A38.62,38.62,0,0,0,150.58,160h0a38.39,38.39,0,0,0,27.31-11.31l34.75-34.75a38.63,38.63,0,0,0-54.63-54.63l-11,11A8,8,0,0,1,135.7,59l11-11A54.65,54.65,0,0,1,224,48,54.86,54.86,0,0,1,240,88.23ZM109,185.66l-11,11A38.41,38.41,0,0,1,70.6,208h0a38.63,38.63,0,0,1-27.29-65.94L78,107.31A38.63,38.63,0,0,1,144,135.71a8,8,0,0,0,16,.45A54.86,54.86,0,0,0,144,96a54.65,54.65,0,0,0-77.27,0L32,130.75A54.62,54.62,0,0,0,70.56,224h0a54.28,54.28,0,0,0,38.64-16l11-11A8,8,0,0,0,109,185.66Z'></path></svg>");
	--external-link-icon: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='%236474a2' viewBox='0 0 256 256'><path d='M224,104a8,8,0,0,1-16,0V59.32l-66.33,66.34a8,8,0,0,1-11.32-11.32L196.68,48H152a8,8,0,0,1,0-16h64a8,8,0,0,1,8,8Zm-40,24a8,8,0,0,0-8,8v72H48V80h72a8,8,0,0,0,0-16H48A16,16,0,0,0,32,80V208a16,16,0,0,0,16,16H176a16,16,0,0,0,16-16V136A8,8,0,0,0,184,128Z'></path></svg>");

	// --- Gradients ---
	--gradient-stop-1: var(--accent-light);
	--gradient-stop-2: var(--accent-regular);
	--gradient-stop-3: var(--accent-dark);
	--gradient-subtle: linear-gradient(150deg, var(--gray-900) 19%, var(--gray-999) 150%);
	--gradient-accent: linear-gradient(
		150deg,
		var(--gradient-stop-1),
		var(--gradient-stop-2),
		var(--gradient-stop-3)
	);
	--gradient-accent-orange: linear-gradient(
		150deg,
		#ca7879,
		var(--accent-regular),
		var(--accent-dark)
	);
	--gradient-stroke: linear-gradient(180deg, var(--gray-900), var(--gray-700));

	// --- Radius ---
	--radius-s: 4px;
	--radius-m: 8px;
	--radius-l: 12px;
	--radius-xl: 16px;

  // --- Key layout values ---
  --nav-height: 3.5rem;
  --nav-pad-x: 1rem;
  --nav-pad-y: 0.75rem;
  --content-pad-h: 5.465rem;

  // --- Global z-index values ---
  --z-index-navbar: 10;

  // --- Transitions ---
  --theme-transition: 0.2s ease-in-out;

  // --- Text Sizes ---
	--text-2xs: 0.75rem;
	--text-xs: 0.8rem;
  --text-sm: 0.875rem;
  --text-base: 1.025rem;
  --text-md: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.625rem;
  --text-2xl: 2.125rem;
  --text-3xl: 2.625rem;
  --text-4xl: 3.5rem;
  --text-5xl: 4.5rem;

  // --- Fonts ---
	--font-system:
		system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
	--font-body: 'IBM Plex Sans', var(--font-system);
  --font-brand: 'Rubik', var(--font-system);
	--font-code: 'JetBrains Mono', monospace;

	// --- Code ---
	--code-bg: #ffffff;
	--code-line-height: 1.65rem;

	// --- Blockquote ---
	--blockquote-text-color: var(--gray-400);

	// --- Table ---
	--table-header-background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.12' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

	// --- Scroll Bar ---
	--scrollbar-rgb: 0, 0, 0;
	--scrollbar-bg: rgba(var(--scrollbar-rgb), 0);
	--scrollbar-thumb-bg: rgba(var(--scrollbar-rgb), 0.16);
	--scrollbar-thumb-bg-active: rgba(var(--scrollbar-rgb), 0.25);

	// --- Icons ---
	--icon-copy: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23000000' viewBox='0 0 256 256'><path d='M216,32H88a8,8,0,0,0-8,8V80H40a8,8,0,0,0-8,8V216a8,8,0,0,0,8,8H168a8,8,0,0,0,8-8V176h40a8,8,0,0,0,8-8V40A8,8,0,0,0,216,32ZM160,208H48V96H160Zm48-48H176V88a8,8,0,0,0-8-8H96V48H208Z'></path></svg>");
	--icon-copied: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23008000' viewBox='0 0 256 256'><path d='M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z'></path></svg>");
}

:root.theme-dark {
	--gray-0: #ffffff;
	--gray-50: #f4f4f4;
	--gray-100: #e6e6e6;
	--gray-200: #cacaca;
	--gray-300: #adadad;
	--gray-400: #919191;
	--gray-500: #747474;
	--gray-600: #5e5e5e;
	--gray-700: #474747;
	--gray-800: #303030;
	--gray-900: #191919;
	--gray-999-basis: 225, 31%, 5%;
	--gray-999: #181c20;

	--accent-light: #1c0056;
	--accent-regular: #7611a6;
	--accent-medium: #9e39ce;
	--accent-dark: #c561f6;
	--accent-overlay: hsla(280, 89%, 67%, 0.33);
	--accent-subtle-overlay: hsla(281, 81%, 36%, 0.33);
	--accent-text-over: var(--gray-0);

	--text-bold-color: #f8b755;

	--link-color: #5094c9;
	--link-hover-color: #7db0e0;
	--link-icon: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='%23cacaca' viewBox='0 0 256 256'><path d='M240,88.23a54.43,54.43,0,0,1-16,37L189.25,160a54.27,54.27,0,0,1-38.63,16h-.05A54.63,54.63,0,0,1,96,119.84a8,8,0,0,1,16,.45A38.62,38.62,0,0,0,150.58,160h0a38.39,38.39,0,0,0,27.31-11.31l34.75-34.75a38.63,38.63,0,0,0-54.63-54.63l-11,11A8,8,0,0,1,135.7,59l11-11A54.65,54.65,0,0,1,224,48,54.86,54.86,0,0,1,240,88.23ZM109,185.66l-11,11A38.41,38.41,0,0,1,70.6,208h0a38.63,38.63,0,0,1-27.29-65.94L78,107.31A38.63,38.63,0,0,1,144,135.71a8,8,0,0,0,16,.45A54.86,54.86,0,0,0,144,96a54.65,54.65,0,0,0-77.27,0L32,130.75A54.62,54.62,0,0,0,70.56,224h0a54.28,54.28,0,0,0,38.64-16l11-11A8,8,0,0,0,109,185.66Z'></path></svg>");
	--external-link-icon: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='%23cacaca' viewBox='0 0 256 256'><path d='M224,104a8,8,0,0,1-16,0V59.32l-66.33,66.34a8,8,0,0,1-11.32-11.32L196.68,48H152a8,8,0,0,1,0-16h64a8,8,0,0,1,8,8Zm-40,24a8,8,0,0,0-8,8v72H48V80h72a8,8,0,0,0,0-16H48A16,16,0,0,0,32,80V208a16,16,0,0,0,16,16H176a16,16,0,0,0,16-16V136A8,8,0,0,0,184,128Z'></path></svg>");

	--gradient-stop-1: #4c11c6;
	--gradient-subtle: linear-gradient(150deg, var(--gray-900) 19%, var(--gray-999) 81%);
	--gradient-accent-orange: linear-gradient(
		150deg,
		#ca7879,
		var(--accent-regular),
		var(--accent-light)
	);
	--gradient-stroke: linear-gradient(180deg, var(--gray-600), var(--gray-800));

	// --- Code ---
	--code-bg: #24292e;

	// --- Blockquote ---
	--blockquote-text-color: var(--gray-200);

	// --- Table ---
	--table-header-background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.12' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

	// --- Scroll Bar ---
	--scrollbar-rgb: 255, 255, 255;
	--scrollbar-bg: rgba(var(--scrollbar-rgb), 0);
	--scrollbar-thumb-bg: rgba(var(--scrollbar-rgb), 0.15);
	--scrollbar-thumb-bg-active: rgba(var(--scrollbar-rgb), 0.25);

	// --- Icons ---
	--icon-copy: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23e6e6e6' viewBox='0 0 256 256'><path d='M216,32H88a8,8,0,0,0-8,8V80H40a8,8,0,0,0-8,8V216a8,8,0,0,0,8,8H168a8,8,0,0,0,8-8V176h40a8,8,0,0,0,8-8V40A8,8,0,0,0,216,32ZM160,208H48V96H160Zm48-48H176V88a8,8,0,0,0-8-8H96V48H208Z'></path></svg>");
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

html.theme-dark {
	.astro-code,
	.astro-code span {
		color: var(--shiki-dark) !important;
		background-color: var(--shiki-dark-bg) !important;
	}
}

body {
	background-color: var(--gray-999);
	color: var(--text-normal);
	font-family: var(--font-body);
	font-size: var(--text-md);
  line-height: 1.75;
	-webkit-font-smoothing: antialiased;

	// Prevent <sup> from pushing line-height.
	& p > sup {
		line-height: 0;
	}

	a {
		color: var(--link-color);

		&:hover {
			color: var(--link-hover-color);
		}
	}
}

// --- Headers ---
h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-brand);
}

// --- Scroll Bar ---
::-webkit-scrollbar {
	width: 14px;
	height: 12px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb-bg);
	background-clip: padding-box;
	border-radius: 20px;
	border: 3px solid transparent;
	border-width: 3px 3px 3px 3px;
	min-height: 45px;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
	background-color: var(--scrollbar-thumb-bg-active);
}

// --- Utilities ---

.stack {
  display: flex;
  flex-direction: column;
}