<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
    {{ partialCached "head/css.html" . }}
    {{ partialCached "head/js-top.html" . }}
  </head>
  <body>
    <header>
      {{ partial "header.html" . }}
    </header>
    <main>
      {{ block "main" . }}{{- end -}}
    </main>
    <footer>
      {{ partial "footer.html" . }}
    </footer>
    {{ partialCached "head/js.html" . }}
    {{- if .Page.Param "comments" -}}
      <script>
        const theme = localStorage.getItem('theme') || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
        if (theme) {
          const giscusAttributes = {
            'src': 'https://giscus.app/client.js',
            'data-repo': 'kirawat/kirawat.me',
            'data-repo-id': 'R_kgDOK5SkpQ',
            'data-category': 'Comments',
            'data-category-id': 'DIC_kwDOK5Skpc4Cb12k',
            'data-mapping': 'pathname',
            'data-strict': '0',
            'data-reactions-enabled': '1',
            'data-emit-metadata': '0',
            'data-input-position': 'top',
            'data-theme': theme,
            'data-lang': 'en',
            'data-loading': 'lazy',
            'crossorigin': 'anonymous',
            'async': '',
          };
          let giscusScript = document.createElement('script');
          Object.entries(giscusAttributes).forEach(([key, value]) => giscusScript.setAttribute(key, value));
          document.body.appendChild(giscusScript);
        };
      </script>
    {{- end -}}
  </body>
</html>