@use './../abstracts/variables' as var;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: clip;
}

html.theme-dark {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }
}

// --- Body ---
body {
  background-color: var(--color-body-bg);
  background-image: radial-gradient(circle 110vw at 165% -5%, var(--primary-color), transparent);
  background-repeat: no-repeat;

  @media (min-width: 64em) {
    background-image: radial-gradient(circle 100vw at 170% -10%, var(--primary-color), transparent);
  }
}

// --- Links ---
a {
  color: var(--link-normal-color);

  &:hover {
    color: var(--link-hover-color);
  }
}

// --- Footnote Reference ---
article p > sup > a {
  padding: 0 2px;
  font-size: var.$text-size-2xs;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &::before {
    content: '[';
  }

  &::after {
    content: ']';
  }
}

// --- Footnotes ---
.footnotes {
  margin-top: 2.5rem;

  ol {
    padding-left: 1rem;

    li {
      font-size: var.$text-size-sm;

      a.data-footnote-backref {
        color: var(--color-base-600);
        font-size: var.$text-size-xs;
        text-decoration: none;

        &:hover {
          color: var(--color-base-300);
        }
      }
    }
  }
}

// --- Table ---
table {
  width: 100%;
  margin-top: 2rem;
  
  border: 1px solid var(--color-base-700);
  border-collapse: collapse;

  font-size: var.$text-size-sm;

  th, td {
    padding: 10px;
    border: 1px solid var(--color-base-700);;
  }

  thead > tr {
    background: var(--table-header-bg);

    & > th {
      text-align: center;
      vertical-align: middle;

      // Hide empty table headers.
      &:empty {
        display: none;
      }
    }
  }
}

// --- Divider ---
hr {
  height: 1px;
  margin: 1.5rem 0 1.5rem 0;
  background-color: var(--color-base-800);
  border: none;
}

// --- Scroll Bar ---
::-webkit-scrollbar {
  width: 14px;
  height: 12px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  min-height: 45px;
  background-color: var(--scrollbar-thumb-color);
  background-clip: padding-box;
  border: 3px solid transparent;
  border-width: 3px 3px 3px 3px;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background-color: var(--scrollbar-thumb-active-color);
}